@{
    ViewData["Title"] = "Home Page";
}
<hr />
<div class="form-row">
    <button id="btn1" type="button" class="btn btn-primary mx-1">Create rec</button>
    <button id="btn2" type="button" class="btn btn-primary mx-1">Create rec - layer1</button>
    <button id="btn3" type="button" class="btn btn-primary mx-1">Create rec - layer2</button>


    <button id="btn10" type="button" class="btn btn-primary">delete all rec</button>

</div>

<ul id="list1"class="list-group">
    <li class="list-group-item">----</li>
</ul>
<hr />
